extends layout

block nav
	mixin nav('about joe')

block content
	section.staticp
		h2 About Joe

		
		p I'm just a guy who likes to dink around with little projects to see how stuff works. If for some reason you have a desire to contact me, look for the social icons below. Thanks for dropping by.