extends layout

block nav
  mixin nav('index')

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url ng-mouseover="rollText($event)")= article.title
      section.content
        !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url ng-mouseover="rollText($event)") more
      br
      div.comments
        i.fa.fa-comments-o
          a(href=article.url + "#disqus_thread")
            | Comments

block prepend footer
  div.footernav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »



