extends layout

block nav
  mixin nav('kindle')

block content
  include author
  - var kindles = env.helpers.getKindles(contents);
  each kindle in kindles
    kindle.article.intro
      header
        p.date
          span= moment.utc(kindle.date).format('DD. MMMM YYYY')
        h2
          a(href=kindle.url ng-mouseover="rollText($event)")= kindle.title
      section.content
        !{ typogr(kindle.intro).typogrify() }
        if kindle.hasMore
          p.more
            a(href=kindle.url ng-mouseover="rollText($event)") more
      br
      div.comments
        i.fa.fa-comments-o
          a(href=kindle.url + "#disqus_thread")
            | Comments
      br
      br



