extends layout

block nav
  mixin nav('kindle')

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  include author
  h1= page.title
  //- p.author
  //-   | #{ "Written by " }
  //-   mixin author(page.metadata.author)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

  a(name='comments')
  #disqus_thread
  script(type='text/javascript').
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'm0ngr31'; // required: replace example with your forum shortname
      var disqus_identifier = '#{page.title}';
      var disqus_url = 'http://m0ngr31.us' + window.location.href.substring(window.location.href.indexOf('/', 8));
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  noscript
      | Please enable JavaScript to view the
      a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.

