doctype html
block vars
  - var bodyclass = null;

mixin nav(current)
  ul.nav.group
    //- li.icon-menu.menu
    li.nav-link.red(class= current === "index" ? "active" : "")
      a.name(href="/" ng-mouseover="rollText($event)") home
    li.nav-link.blue(class= current === "about joe" ? "active" : "")
      a.name(href="/about.html" ng-mouseover="rollText($event)") about joe
    //- li.nav-link.orange(class= current === "projects" ? "active" : "")
    //-   a.name(href="/projects.html" ng-mouseover="rollText($event)") my projects
    li.nav-link.purple(class= current === "kindle" ? "active" : "")
      a.name(href="/kindle.html" ng-mouseover="rollText($event)") kindle
    li.nav-link.green(class= current === "archive" ? "active" : "")
      a.name(href="/archive.html" ng-mouseover="rollText($event)") archive

html(lang='en' ng-app='app')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      link(rel='shortcut icon', href='/favicon.ico')
      //-link(rel='icon', sizes='16x16 32x32 64x64', href='/favicon.ico')
      link(rel='apple-touch-icon-precomposed', href='/favicon-152.png')
      meta(name='msapplication-TileColor', content='#FFFFFF')
      meta(name='msapplication-TileImage', content='/favicon-144.png')

      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href='/css/main.css')
      script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js", type="text/javascript")
      script(src="/js/main.js", type="text/javascript")
  body(class=bodyclass)
    div(ng-controller="Controller")
      block nav
      header.header
        div.content-wrap
          block header
            div.logo
              //- h1
              //-   a(href=locals.url)= locals.name
              //- p.description= locals.description
              p
                a(href="mailto:joe@m0ngr31.us") joe@m0ngr31.us 
                 {{ preText }}{{ termText }}
                span(class="blink") &#9611;
      div#content
        div.content-wrap
          block content
            h2 Welcome to zombocom!
      footer
        script#dsq-count-scr(src='//m0ngr31.disqus.com/count.js', async='')
        script(type='text/javascript').
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-49103298-1']);
          _gaq.push(['_trackPageview']);
          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        div.content-wrap
          block footer
            //- section.about
            //-   !=contents['about.md'].html
            hr
            section.copy
              p 
                a(href="mailto:joe@m0ngr31.us")
                  img(src="/img/outlook-64-black.png")
                a(href="https://www.twitter.com/m0ngr31")
                  img(src="/img/twitter-64-black.png")
                a(href="https://www.linkedin.com/in/joeipson")
                  img(src="/img/linkedin-64-black.png")
                a(href="https://www.bitbucket.com/m0ngr31")
                  img(src="/img/bitbucket-64-black.png")
                a(href="https://www.github.com/m0ngr31")
                  img(src="/img/github-64-black.png")
                a(href="https://www.last.fm/user/joeipson")
                  img(src="/img/lastfm-64-black.png")
              p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
                a(href='https://github.com/jnordberg/wintersmith') Wintersmith
                //- please leave the "powered by" if you use the design
      
